@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,900');
/* 루트 요소에 기본글자 크기 설정 */
html{
  font-size : 10px;
}
/* 본문의 기본 스타일 설정 */
body{
  font-size : 1.6rem;
  color : #181818; 
  background-color: #fff;
  line-height : 1.15;
  font-family: 'noto sans KR',sans-serif;
  font-weight: 400;
  margin:0;

}
/* 하이퍼링크 기본 스타일 설정 */
a{
  color:inherit ;
  text-decoration: none;
}
a:visited{
  color:whitesmoke;
}
/* 헤더 */
.header{
  background: gray;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 5px 0 #333;
}
/* 로고, 대제목 */
.brand{
  margin : 0;
  float: left;
  padding:1em;
}
.logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
}
.owner{
  color:rgba(39, 39, 36, 0.5);
  text-shadow: 1px 0 0 whitesmoke, 0 1px 0 whitesmoke, -1px 0 0 whitesmoke, 0 -1px 0 whitesmoke ;
}
/* 메뉴 */
.navigation{
position: absolute;
right: 2em;
top : 50%;
transform: translateY(-50%);
/* translateY Y축을자기상자의 50%만큼 위로 이동 */
}
.menu{
  list-style-type:none;
  margin:0;
  padding:5px;
  background: gray;
  overflow: hidden;
}
.menu li{
  float:left;
  margin-left : 1em;
}
.menu a{
  display: block;
  padding : 1em;
}
.menu a:hover, .menu a:focus {
  color : rgba(57,50,16,1);
  text-decoration: underline;
  font-weight: 900;
}
 

/* 메인 컨텐츠 섹션 div로 감싸 주고 ..
인덱스 페이지의 배경이미지 지정*/
.main-bg{
  background: url('../assets/main-bg2.jpg') no-repeat 0 0 /cover;
  height: 100vh;
}
/* 푸터 디자인 */
.footer{
  background: #fff;
  box-shadow: 0 -5px 3px 0 #333
}
/* 메인페이지에 푸터를 고정하기 위해서  다른 페이지의 푸터를 적용 안 받게 하기 위해서*/
.main-bg .footer{
  position: fixed;
  left : 0;
  bottom: 0;
  width: 100% ;
  /* width를 100% 해줘야 블럭이 안생김 */
}
/* 저작권 정보 */
.copyright{
  background: whitesmoke;
  display : block;
  text-align: center;
  padding: 2em;
}

/* 인덱스 페이지 에듀케이션 섹션 */
.education{
  background: rgba(0,0,0,0.8);
  color : whitesmoke;
  text-align: center;
  padding: 70px 0 20px ;
  margin: 100px, 0;
}
.educationtitle{
  font-size: 6rem;
  margin: 0;
}
.education-place{
  font-size: 2rem;
  
  }
/* introduce 페이지의 about-me 섹션 */
.about-me{
  padding: 20px, 100px;
  /* width: 1024px;
  margin: 0 auto; */
}
.about-photo{
  width: 100% ;

}
.about-photo img{
  max-width: 100%;
  height: auto;
}